*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hp_fullWidth {
  width: 100% !important;
}

/* element */
.el_secTtl {
  text-align: center;
  font-size: 30px;
  color: #010101;
}

.el_animBtn {
  width: 200px;
  height: 80px;
  margin: 20px auto 0px;
  position: relative;
}

.el_animBtn .el_animBtn_txt {
  width: 100%;
  height: 100%;
  position: absolute;
  border: #fff 2px solid;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  -webkit-transition: .3s;
  transition: .3s;
}

.el_animBtn .el_animBtn_txt:nth-child(1) {
  background: #fff;
  border-color: gray;
}

.el_animBtn .el_animBtn_txt:nth-child(2) {
  background: #F0F0EE;
}

.el_animBtn:hover {
  border-color: gray;
}

.el_animBtn:hover .el_animBtn_txt {
  -webkit-transition: .3s;
  transition: .3s;
}

.el_animBtn:hover .el_animBtn_txt:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.el_job_descri_ttl {
  font-size: 30px;
  line-height: 1.3;
}

.el_contactBtn {
  font-size: 30px;
  line-height: 250px;
  background: gray;
  border: 2px solid black;
  text-align: center;
}

/* layout */
.ly_sec {
  padding: 50px 0px;
}

header, footer {
  height: 80px;
  background: #646464;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 40px;
}

/* block */
.bl_inner__gene {
  width: 1000px;
  margin: 0 auto;
}

/* start MV */
.swiper-container {
  width: 100%;
  height: 400px;
}

/* start overview */
.ly_overview {
  background: #F0F0EE;
}

.bl_imgBox {
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.bl_card_cont {
  padding: 30px;
}

.bl_cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.bl_card {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.bl_card:not(:first-child) {
  margin-left: 50px;
}

.bl_card:hover .bl_imgBox {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  border-radius: 20px;
}

.bl_overview_map {
  margin-top: 30px;
}

/* end overview */
/* start services performance*/
@-webkit-keyframes imgAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes imgAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.bl_blocks_wrapper {
  display: -ms-grid;
  display: grid;
  grid-template: "service service service" 300px "app clip design" 300px / 1fr 1fr 1fr;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.bl_blocks_wrapper:hover .el_animItem {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  border-radius: 30px;
  opacity: .8;
}

.bl_blocks_wrapper:hover .el_animItem:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: .5;
}

.bl_blocks_wrapper:hover .bl_animBg {
  -webkit-animation: imgAnim 20s linear;
          animation: imgAnim 20s linear;
}

.bl_animBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.el_animItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  border: 1px solid #343434;
  -webkit-transition: .3s;
  transition: .3s;
}

.el_animItem:nth-child(1) {
  grid-area: service;
}

/* end services performance */
/* start recu */
.bl_jobs_wrapper {
  margin-top: 30px;
}

.bl_job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.bl_job:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bl_job:nth-child(even) .bl_job_descri_box {
  margin-left: auto;
}

.bl_job_imgBox {
  width: 60%;
  height: 100%;
}

.bl_job_descri {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding: 30px;
}

.bl_job_descri_box {
  max-width: 250px;
  width: 100%;
}

/* end recu */
/* start contact */
.bl_contactBtn_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (250px)[1];
      grid-template-rows: repeat(1, 250px);
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

/* end contact */
/*# sourceMappingURL=style.css.map */