*, *::before, *::after{box-sizing: border-box;}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hp_fullWidth {
  width: 100% !important;
}
/* element */
.el_secTtl {
  text-align: center;
  font-size: 30px;
  color: #010101;
}
.el_animButton {
  
}
/* layout */
.ly_sec {
  padding: 50px 0px;
}
header,footer {
  height: 80px;
  background: rgb(100, 100, 100);
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 40px;
}
/* start MV */
.swiper-container {
  width: 100%;
  height: 400px;
}
/* start overview */
.ly_overview {
  background: #F0F0EE;
}
.bl_overview_inner {
  width: 1000px;
  margin: 0 auto;
}
.bl_imgBox {
  transition: .3s;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.bl_card_cont {
  padding: 30px;
}
.bl_cards_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.bl_card {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  &:not(:first-child) {
    margin-left: 50px;
  }
  &:hover {
    .bl_imgBox {
      transform: scale(0.8);
      border-radius: 20px;
    }
  }
}
.bl_overview_map {
  margin-top: 30px;
}
/* end overview */

/* start services */
@keyframes imgAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.bl_services_inner {
  width: 1000px;
  margin: 0 auto;
}
.bl_services_wrapper {
  display: grid;
  grid-template: "service service service" 300px
                "app clip design" 300px
                / 1fr 1fr 1fr;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  &:hover {
    .el_service {
      transform: scale(.85);
      border-radius: 30px;
      opacity: .8;
    }
    .el_service:not(:hover) {
      transform: scale(0.8);
      opacity: .5;
    }
    .bl_animBg {
      animation: imgAnim 20s linear;
    }
  }
}
.bl_animBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.el_service {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  border: 1px solid darken(gray, 30%);
  transition: .3s;
}
.el_service:nth-child(1) {
  grid-area: service;
}